@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Roboto+Slab:wght@700&display=swap" rel="stylesheet");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");




body{
	font-family: 'DM Serif Text', serif;
	font-size: 60px;
	margin:0px;
	color: #50808E;
}

h1,h2,h3{
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
}

h2{
	font-size: 85px;
}
a {
	text-decoration: : none;
	font-family: 'DM Serif Text', serif;

}
a:hover{
	color: #50808E;
	background-color: white; 
}


h1{ 
	color: #254441;
	font-size: 70px;
 }

 h2{
 	color: #69A297;
 }